path: enclave/secure/ecdh.h
int key_exchange(char* in_key, int in_key_len, char* out_key, int out_key_len, char* out_encrypted_shared_key, int out_encrypted_shared_key_len, char* out_key_signature, int out_key_signature_len);