*build*
.vscode
.idea
.cache
generated
json.hpp
*.a
*.gz
*.zip
*.bak
*.generated
face_recognition
codegen
downloads
tensorflow*
test_riscv
template_tvm
opencv-master
opencv_demo
secGear
build_deps
TEE-Capability
*out
callgrind*
*.svg
*.data*
tmp
